.grid__overlay--hidden {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.grid__overlay {
  position: absolute;
  width: 100%;
  height: 101%;
  padding: 49px 45px 49px 24px;
}

.grid__overlay-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--main-white);
  text-align: left;
}

.grid__overlay--hidden:hover .grid__overlay {
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

.is-hidden {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media screen and (max-width: 1199px) {
  .is-hidden {
    display: none;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

a:link .header-nav__contact {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/*.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}
*/
.webstudio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 135px;
  text-align: left;
  top: 16px;
}
@media screen and (min-width: 768px) {
  .webstudio {
    top: 26px;
    margin-right: 83px;
  }
}
@media screen and (min-width: 1200px) {
  .webstudio {
    top: 24px;
    font-size: 26px;
    line-height: 31px;
    width: 145px;
    margin-right: 93px;
  }
}

.footer__webstudio-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__webstudio-link {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
  }
}

.webstudio__logo {
  color: var(--main-blue);
}
.webstudio__logo:active {
  color: var(--main-blue);
}

.footer__webstudio-logo {
  color: var(--main-blue);
}
.footer__webstudio-logo:active {
  color: var(--main-blue);
}

.webstudio__logo2 {
  color: var(--logo-black);
  margin-right: 93px;
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.webstudio__logo2:active {
  color: var(--main-blue);
}

.footer__webstudio-logo3 {
  color: var(--main-white);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__webstudio-logo3:active {
  color: var(--main-blue);
}

.webstudio__logo:hover,
.webstudio__logo2:hover,
.webstudio__logo:focus,
.webstudio__logo2:focus {
  color: var(--main-blue);
}

.footer__webstudio-logo3:hover,
.footer__webstudio-logo3:focus {
  color: var(--main-blue);
}

.footer__webstudio-logo:hover,
.footer__webstudio-logo:focus {
  color: var(--main-blue);
}

.modal-content__link-legal {
  color: var(--main-blue);
  border-bottom: 1px solid var(--main-blue);
}
.modal-content__link-legal::after {
  color: var(--main-blue);
}

.backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.modal {
  height: 609px;
  width: 450px;
  left: 159px;
  top: 208px;
  border-radius: 4px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* height: 581px;
 width: 528px;
 left: 536px;
 top: 221px;
 border-radius: 4px;
 background-color: rgba(255, 255, 255, 1);
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 2px 1px rgba(0, 0, 0, 0.2);
 margin: auto;
 display: flex;*/
.modal-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 8px 8px 543px 410px;
  position: fixed;
}

/*cursor: pointer;
width: 30px;
height: 30px;
border-radius: 50%;
background: rgba(255, 255, 255, 1);
border: 1px solid rgba(0, 0, 0, 0.1);
margin: 8px 8px 543px 490px;
position: fixed;*/
.modal-content__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--black-main);
  padding: 40px 40px 30px 40px;
}

.modal-content {
  width: 450px;
  height: 609px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
}

.modal-content__items {
  width: 450px;
  height: 609px;
}

.modal-content__items .modal-content__icon-person {
  width: 12px;
  height: 12px;
  margin: 14px 15px 14px 15px;
}

.modal-content__items .modal-content__icon-tel {
  width: 13px;
  height: 13px;
  margin: 14px 15px 14px 15px;
}

.modal-content__items .modal-content__icon-email {
  width: 15px;
  height: 12px;
  margin: 14px 15px 14px 15px;
}

.modal-content__items .modal-content__input {
  border: 0;
  background-color: transparent;
}

.modal-content__items .modal-content__input:focus {
  outline: 0;
}

.modal-content__fieldset:has(input:focus) {
  -webkit-transition: border;
  transition: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: rgb(33, 150, 243);
}

.modal-content__fieldset:has(input:focus) .modal-content__icon-person {
  fill: rgb(33, 150, 243);
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content__fieldset:has(input:focus) .modal-content__icon-tel {
  fill: rgb(33, 150, 243);
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content__fieldset:has(input:focus) .modal-content__icon-email {
  fill: rgb(33, 150, 243);
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content__fieldset:has(input:invalid) {
  border-color: red;
}

.modal-content__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 4px;
  margin: 20px 40px 28px 40px;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background: var(--main-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1200px) {
  .modal-content__fieldset {
    width: 448px;
  }
}

.modal-content__items .modal-content__label {
  position: absolute;
  top: -18px;
  font-size: 12px;
}

.modal-content__items .modal-content__label-legal {
  position: static;
}

.modal-content__button-send {
  position: absolute;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  border-color: transparent;
  background: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--main-white);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 164px 40px 125px;
}
@media screen and (min-width: 1200px) {
  .modal-content__button-send {
    margin: 30px 164px 40px 164px;
  }
}

.modal-content__button-send:hover,
.modal-content__button-send:focus {
  cursor: pointer;
  -webkit-transition: border;
  transition: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content__checkboxinput {
  position: relative;
  text-align: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 7px;
}

.modal-content__legal-agreement {
  position: absolute;
  top: 2px;
  left: 0;
  fill: var(--main-white);
  width: 16px;
  height: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content__svg-legal {
  padding: 0;
  text-align: center;
  width: 10px;
  height: 10px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--main-silver);
}

.modal-content__checkboxinput:checked ~ .modal-content__legal-agreement {
  fill: var(--main-white);
  background: var(--main-blue);
  border-radius: 2px;
  border: 1px solid;
  -webkit-transition: fill, background-color;
  transition: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content__fieldset-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 4px;
  margin: 28px 40px 20px 40px;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background: var(--main-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-content__fieldset-comment:has(input:focus) {
  -webkit-transition: border;
  transition: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: rgb(33, 150, 243);
}
@media screen and (min-width: 1200px) {
  .modal-content__fieldset-comment {
    width: 448px;
  }
}

.modal-content__fieldset-legal {
  position: relative;
  margin: 20px 40px 0px 54px;
  width: 370px;
  height: 14px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: var(--main-silver);
  /*position: relative;
  margin: 20px 40px 0px 54px;
  width: 448px;
  height: 24px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-silver);*/
}
@media screen and (min-width: 1200px) {
  .modal-content__fieldset-legal {
    width: 448px;
    height: 24px;
    font-size: 14px;
  }
}

.modal-content__textarea {
  border: 5px;
  height: 96px;
  width: 338px;
  margin: -24px 16px 12px 16px;
  background-color: transparent;
}
.modal-content__textarea:focus {
  outline: 0;
}
@media screen and (min-width: 1200px) {
  .modal-content__textarea {
    width: 416px;
  }
}

/*.d-none {
    display: none;
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: var(--main-white);
    z-index: 2;

}
*/
.mobile-menu__overley {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__overley.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--black-main);
  opacity: 1;
  background-color: var(--main-white);
  z-index: 998;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__btn {
  position: absolute;
  background-color: var(--main-white);
  border: none;
  right: 10px;
  top: 10px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  fill: var(--main-blue);
}
.mobile-menu__link-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--black-main);
}
.mobile-menu__item-nav:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__list-nav {
  margin-bottom: auto;
}
.mobile-menu__link-contact-tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--main-blue);
}
.mobile-menu__list-contact-tel {
  margin-bottom: 32px;
}
.mobile-menu__link-contact-mailto {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--black-main);
}
.mobile-menu__list-contact-mailto {
  margin-bottom: 64px;
}
.mobile-menu__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.mobile-menu__link-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--main-blue);
}
.mobile-menu__item-social:not(:last-child) .mobile-menu__link-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__icon {
  margin-top: 21px;
  margin-right: 21px;
}
.mobile-menu__icon:hover, .mobile-menu__icon:focus {
  fill: var(--main-blue);
}
.mobile-menu__item-nav {
  color: var(--black-main);
}

.mobile-menu__link-nav:hover,
.mobile-menu__link-nav:focus {
  color: var(--main-blue);
}

.mobile-menu__link-nav:active {
  color: var(--main-blue);
}

.footer-container {
  background-color: var(--background-grey);
}

.footer-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 72px;
  padding-bottom: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* @media screen and (max-width: 1199px) {
       text-align: center;
     }
     @media screen and (min-width: 768px) {
       display: flex;
       flex-wrap: wrap;
       align-items: baseline;
     }

     @media screen and (min-width: 1200px) {
       display: flex;
       align-items: baseline;
     }
       margin-bottom: 60px;
     @media screen and (min-width: 768px) {
       margin-right: 165px;
       margin-left: 76px;
     }

     @media screen and (min-width: 1200px) {
       margin-right: 80px;
       margin-bottom: 0px;
       margin-left: 0;
     }*/
}
@media screen and (min-width: 768px) {
  .footer-layout {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer-layout {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-white);
  padding: 0;
  margin-bottom: 9px;
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__adress:active {
  color: var(--main-blue);
}
.footer__adress:hover {
  color: var(--main-blue);
}
.footer__adress:focus {
  color: var(--main-blue);
}

.footer {
  padding-left: 0;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 786px) and (max-width: 1199px) {
  .footer {
    margin-bottom: 0;
    margin-right: 144px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-mail {
  padding-left: 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-mail {
    text-align: left;
  }
}

.footer-mail__contact {
  padding: 9px 0;
}

.footer__webstudio {
  padding: 0 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-mail__contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: var(--font-footer);
  padding-top: 0px;
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail__contact-link:active {
  color: var(--main-blue);
}
.footer-mail__contact-link:hover {
  color: var(--main-blue);
}
.footer-mail__contact-link:focus {
  color: var(--main-blue);
}

.SM-footer {
  margin: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .SM-footer {
    padding-left: 70px;
    text-align: left;
  }
}

.SM-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SM-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill, background-color;
  transition: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.SM-footer__link:hover {
  cursor: pointer;
  --color3: var(--main-white);
  background-color: var(--main-blue);
}
.SM-footer__link:focus {
  cursor: pointer;
  --color3: var(--main-white);
  background-color: var(--main-blue);
}

.SM-footer__icon {
  width: 20px;
  height: 20px;
}

.SM-footer__join-us {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-white);
  padding: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.newsletter {
  text-align: center;
  margin-top: 60px;
  /*margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    margin: 0;*/
}
@media screen and (min-width: 1200px) {
  .newsletter {
    padding-left: 70px;
    margin-top: 0;
    text-align: left;
  }
}

.newsletter__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: var(--main-white);
  text-transform: uppercase;
}

.newsletter__join {
  padding-top: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter__join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.newsletter__input {
  height: 50px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgb(47, 48, 58);
  padding-left: 16px;
  margin-bottom: 20px;
  /*color: var(--logo-footer);
      padding: 0 16px;
      width: 100%;
      height: 50px;
      margin-bottom: 20px;

      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;

      background-color: #2f303a;
      @media screen and (min-width: 768px) {
        width: 450px;
        display: flex;
      }
      @media screen and (min-width: 1200px) {
        width: 358px;
        margin-bottom: 0;
      }*/
}
@media screen and (min-width: 768px) {
  .newsletter__input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .newsletter__input {
    width: 358px;
  }
}
.newsletter__input:hover {
  outline-color: rgba(33, 150, 243, 0);
}
.newsletter__input:focus {
  outline-color: rgba(33, 150, 243, 0);
}

.newsletter__button {
  height: 50px;
  width: 200px;
  border-radius: 4px;
  background-color: var(--main-blue);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--main-white);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}
.newsletter__signUp {
  margin-right: 24px;
}

.newsletter__icon {
  fill: var(--main-white);
  position: absolute;
  margin-top: 2px;
}

/*.footer {
  &__link-logo {
    color: var(--logo-text);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;
    @extend %reset-link;
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: calc(31 / 26);
    }
  }
  &__logo-studio {
    color: var(--logo-footer);
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: calc(31 / 26);
    }
  }
  &__addres {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--logo-footer);
  }
  &__link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(250, 250, 250, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @extend %reset-link;
  }
  &__list :hover,
  &__list :focus {
    color: var(--logo-text);
  }
  &__social-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--logo-footer);
  }
  &__forms-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-footer);
  }
}*/
.header-nav {
  border-bottom: 1px solid;
  border-color: var(--border-header);
  border-top: none;
}

.header-nav .header-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-main);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link::after {
  color: var(--main-blue);
}

.header-nav-mail__contact {
  color: var(--main-silver);
  text-decoration: none;
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-mail__contact:hover svg {
  color: var(--main-blue);
  fill: var(--main-blue);
}
.header-nav-mail__contact:focus svg {
  color: var(--main-blue);
  fill: var(--main-blue);
}
@media screen and (min-width: 768px) {
  .header-nav-mail__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 8px;
  }
}

.header-nav .header-nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--black-main);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .header-nav__link:active {
  color: var(--main-blue);
}

.header-nav .header-nav__link:hover,
.header-nav .header-nav__link:focus {
  color: var(--main-blue);
}

.header-nav-mail:active {
  color: var(--main-blue);
}

.header-nav-mail:focus,
.header-nav-mail:hover {
  color: var(--main-blue);
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 46px;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}
.header-nav__btn {
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header-nav__btn {
    display: none;
  }
}
.header-nav__icon-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav-mail {
  border-bottom: 1px solid;
  border-color: var(--border-header);
  border-top: none;
  fill: var(--icon-socialmedia);
  margin-right: 10px;
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 46px;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
.header-nav-mail:hover {
  fill: var(--main-blue);
  cursor: pointer;
}
.header-nav-mail__icon {
  fill: var(--main-silver);
}
@media screen and (min-width: 768px) {
  .header-nav-mail {
    margin-left: 101px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}
.header-nav-mail__btn {
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header-nav-mail__btn {
    display: none;
  }
}
.header-nav-mail__icon-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header-content {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header-content {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.lorem-wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding-top: 94px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .lorem-wrapper {
    gap: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .lorem-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .lorem-wrapper__items {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
    gap: 30px;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .lorem-wrapper__items {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
    gap: 30px;
    width: 25%;
  }
}

.lorem-wrapper__title {
  margin-bottom: 10px;
  padding: 0;
  color: var(--black-main);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.36;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .lorem-wrapper__title {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media screen and (min-width: 1200px) {
  .lorem-wrapper__title {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.lorem-wrapper__icon {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  -webkit-transition: fill, border;
  transition: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.lorem-wrapper__icon:hover {
  fill: var(--main-blue);
  cursor: pointer;
  border: 1px solid var(--main-blue);
}
.lorem-wrapper__icon:focus {
  fill: var(--main-blue);
  cursor: pointer;
  border: 1px solid var(--main-blue);
}
@media screen and (min-width: 768px) {
  .lorem-wrapper__icon {
    padding: 25px 142px;
  }
}
@media screen and (min-width: 1200px) {
  .lorem-wrapper__icon {
    padding: 25px 100px;
  }
}

.lorem {
  /*@extend %section-mobile !optional;*/
}
@media screen and (min-width: 1200px) {
  .lorem {
    padding: 94px 0;
  }
}

/*.lorem-wrapper__title {
  color: var(--black-main);
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.36;
  margin-bottom: 10px;
  margin-top: 0;
}

.lorem-wrapper {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 94px;
}

.lorem-wrapper__items {
  width: 25%;
}

.lorem-wrapper__icon {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  margin-top: 0;
  transition: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
  fill: var(--main-blue);
  cursor: pointer;
  border: 1px solid var(--main-blue);
}
&:focus {
  fill: var(--main-blue);
  cursor: pointer;
  border: 1px solid var(--main-blue);
}
}
*/
.our-customers {
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .our-customers {
    padding-bottom: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .our-customers {
    padding: 94px 0;
  }
}

.our-customers__title {
  color: var(--black-main);
  font-style: normal;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .our-customers__title {
    margin-bottom: 50px;
    margin-top: 94px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.our-customers__content {
  width: 100%;
  padding: 0 0 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .our-customers__content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.our-customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  width: 100%;
  height: 92px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border;
  transition: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-customers__link .our-customers:hover {
  border: 1px solid var(--main-blue);
}
.our-customers__link .our-customers:focus {
  border: 1px solid var(--main-blue);
}

.our-customers__link:hover svg,
.our-customers__link:focus svg {
  cursor: pointer;
  fill: var(--main-blue);
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-customers__items {
  color: rgb(175, 177, 184);
  border: 1px solid var(--our-customers-border);
  border-radius: 4px;
  fill: var(--our-customers-border);
  -ms-flex-preferred-size: 210px;
      flex-basis: 210px;
}
@media screen and (min-width: 768px) {
  .our-customers__items {
    -ms-flex-preferred-size: 226px;
        flex-basis: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .our-customers__items {
    -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
  }
}

.our-customers__icon {
  width: 106px;
  height: 60.04px;
  fill: var(--icon-socialmedia);
}

.our-team {
  background-color: var(--background-white);
  margin-top: 60px;
}
@media screen and (max-width: 1199px) {
  .our-team {
    padding: 60px 0;
  }
}

.our-team__title {
  color: var(--black-main);
  font-style: normal;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .our-team__title {
    padding-top: 94px;
    margin-bottom: 50px;
    color: var(--black-main);
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
  }
}

.our-team__name {
  color: var(--black-main);
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  padding: 30px 99px 10px;
}

.our-team__profession {
  color: var(--main-silver);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  padding-bottom: 16px;
}

.our-team__background-photo {
  background-color: var(--background-photo);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*
.our-team__content {
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 94px;

  ///padding-top: 30px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 1200px) {
      padding: 30px 0;////
}*/
.our-team__items {
  /*max-width: 1200px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 94px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .our-team__items {
    padding-bottom: 94px;
  }
}

.our-team__SM-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 30px;
  gap: 10px;
}

.our-team__SM-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color, fill;
  transition: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__SM-icon {
  fill: var(--icon-socialmedia);
  width: 20px;
  height: 20px;
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__SM-link:hover,
.our-team__SM-link:focus {
  cursor: pointer;
  --color3: var(--main-white);
  background-color: var(--main-blue);
}

.portfolio__button {
  background-color: var(--background-white);
  color: var(--black-main);
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color, background-color, -webkit-box-shadow;
  transition: color, background-color, -webkit-box-shadow;
  transition: color, background-color, box-shadow;
  transition: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:active {
  color: var(--main-white);
  background-color: var(--main-blue);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: var(--main-white);
  background-color: var(--main-blue);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  width: 100%;
  gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.grid__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding: 20px 24px 4px;
}

.grid__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  padding: 4px 24px 20px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  gap: 30px;
  margin-bottom: 94px;
}

.grid__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.grid__border-img {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: var(--border-image);
}

.grid__item:hover,
.grid__item:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow;
  transition: -webkit-box-shadow;
  transition: box-shadow;
  transition: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*.slider-content {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/
/*
.slider-content_title {
  color: var(--main-white);
  font-style: normal;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  display: flex;
  max-width: 696px;
  max-height: 120px;
  flex-wrap: wrap;
  text-align: center;
}
*/
.slider-btn-order {
  background-color: var(--main-blue);
  color: var(--main-white);
  font-family: inherit;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 40px;
  padding: 10px 41px;
}
.slider-btn-order:active {
  color: var(--main-blue);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider {
    background-color: var(--background-grey);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/sliderimg-mobile.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/sliderimg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    margin: 0 auto;
  }
  .slider-content {
    padding: 118px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-content_title {
    color: var(--main-white);
    font-style: normal;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.615;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 696px;
    max-height: 120px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .slider {
    background-image: url(../images/sliderimg-mobile@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 320px) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 288dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 3dppx) and (min-width: 320px) and (max-width: 767px) {
  .slider {
    background-image: url(../images/sliderimg-mobile@3x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .slider {
    background-color: var(--background-grey);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/sliderimg-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/sliderimg-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    margin: 0 auto;
  }
  .slider-content {
    padding: 118px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-content_title {
    color: var(--main-white);
    font-style: normal;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.615;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 696px;
    max-height: 120px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .slider {
    background-image: url(../images/sliderimg-tablet@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 288dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 3dppx) and (min-width: 768px) and (max-width: 1199px) {
  .slider {
    background-image: url(../images/sliderimg-tablet@3x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .slider {
    background-image: url(../images/sliderimg-desktop@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (min-resolution: 288dpi) and (min-width: 1200px), screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .slider {
    background-image: url(../images/sliderimg-desktop@3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .slider {
    background-color: var(--background-grey);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/sliderimg-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/sliderimg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 94px;
    margin: 0 auto;
  }
  .slider-content {
    padding: 200px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-content_title {
    color: var(--main-white);
    font-style: normal;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 696px;
    max-height: 120px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}
/*.slider {
  background-color: var(--background-grey);
  max-width: 1600px;
  margin-bottom: 94px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img17.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}*/
.what-we-do {
  display: none;
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    display: block;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do__title {
    color: var(--black-main);
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
  }
}
.what-we-do__list {
  max-width: 1200px;
  width: 100%;
  padding: 0 0 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.what-we-do__item {
  position: relative;
  z-index: -1;
}
.what-we-do__text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-white);
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  display: block;
  text-transform: uppercase;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 27px 90px;
}

:root {
  --black-main: rgba(33, 33, 33, 1);
  --logo-black: rgba(0, 0, 0, 1);
  --main-blue: rgba(33, 150, 243, 1);
  --background-grey: rgba(47, 48, 58, 1);
  --main-white: rgba(255, 255, 255, 1);
  --background-white: rgba(245, 244, 250, 1);
  --main-silver: rgba(117, 117, 117, 1);
  --font-footer: rgba(255, 255, 255, 0.6);
  --background-photo: rgba(255, 255, 255, 1);
  --border-image: rgba(238, 238, 238, 1);
  --border-header: rgba(236, 236, 236, 1);
  --icon-socialmedia: rgba(175, 177, 184, 1);
  --icon-background: rgba(255, 255, 255, 1);
  --our-customers-border: rgba(175, 177, 184, 1);
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-main);
}

p {
  color: var(--main-silver);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}/*# sourceMappingURL=main.css.map */